body{
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

main {
    border: 1px solid rebeccapurple;
    border-radius: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgba(251, 0, 130, 0.16);
}

/*Site Title*/
.site-title{
    color: darkslateblue;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

/*Navigation*/

.nav{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.nav-item {
    margin-right: .5rem;
    color: blueviolet;
    font-weight: bold;
    padding: .5rem;
    border: 1px solid rebeccapurple;
    border-radius: 10rem;
    background-color: rgba(251, 0, 130, 0.16);
    cursor: pointer;
    text-decoration: none;
}

.nav-item-active{
    color: white;
    background-color: rgba(109, 38, 109, 1);
}

.nav-item:hover {
    color: white;
    background-color: rgba(109, 38, 109, 1);
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-item>a{
    color: inherit;
    text-decoration: none;
}

/*Page Title*/

main>h1{
    border-bottom: 1px solid rebeccapurple;
    margin-top: .5rem;
}

/*List*/
.list{
    list-style-type: none;
}

.list>li{
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}

.list>li:last-child{
    margin-bottom: 0;
}

.list img{
    border-radius: 1rem;
    margin-right: .5rem;
}

.list h4{
   line-height: 0;
}

/*General Styles*/
.bold-text{
    font-weight: bold;
}
